<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net461" />
  <package id="EPPlus" version="4.5.3.2" targetFramework="net461" />
  <package id="ExcelDataReader" version="2.1.2.3" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.11.2" targetFramework="net461" />
  <package id="M2Mqtt" version="4.3.0.0" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.19" targetFramework="net461" />
  <package id="MySqlBackup.NET" version="2.3.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
  <package id="SQLite" version="3.13.0" targetFramework="net461" />
  <package id="SSH.NET" version="2020.0.2" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net461" />
  <package id="VelocityDB" version="9.0.0" targetFramework="net461" />
  <package id="Zen.Barcode.Core" version="2.0.0" targetFramework="net461" />
</packages>